# Arquivos de ambiente
env/*
!env/.env.example

# Arquivos gerados do nginx
proxy/nginx/conf.d/*.conf
!proxy/nginx/conf.d/.gitkeep
!proxy/nginx/conf.d/home.conf

# Diretórios de aplicação
app/*
!app/.gitkeep
!app/home